<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Princesharing</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../resources/static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon.ico">
</head>

<body>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center me-0 " href="http://localhost:9014/">
                    <img th:src="@{/assets/img/logo.png}" alt="Logo" width="40" height="30" class="">
                    <h1 class="mainTitle ">Princesharing</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 ">
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:9014/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="../other/aboutus">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../other/novita">Novità</a>
                        </li>
                        <li class="nav-item" th:if="${session.loggedUser} != null and ${session.loggedUser.tipo} == 'B'">
                            <a class=" nav-link" href="../utenti/areaPersonale" > Area Personale</a>
                          </li>
                        <!-- <li class="nav-item">
			              <a href="utenti/login" class="btn btn-secondary ms-2" id="button-nav">Login</a>
			            </li>-->
			            <li class="nav-item" th:if="${session.loggedUser} != null and ${session.loggedUser.tipo} == 'A'">
			              <a class="nav-link" href="../utenti/pannello">Pannello di lavoro</a>
			            </li>
                        <li class="nav-item">
                            <a th:if="${session.loggedUser} == null" href="../utenti/login"
                                class="btn btn-secondary ms-2" id="button-nav">Login</a>
                            <a th:if="${session.loggedUser} != null" href="../utenti/logout"
                                class="btn btn-secondary ms-2" id="button-nav">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Inizio section -->
    <section>
        <div class="container text-center text-md-start mt-4 mb-5">
            <div class="text-center py-5">
                <h2 class="fs-1 fw-bold titleTeam">SCRUM TEAM</h2>
            </div>
            <!-- Grid row -->
            <div class="row justify-content-center mt-3">
                <!-- Grid column -->
                <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                    <!-- Content -->
                    <div class="card">
                        <div class="card-body">
                            <h2 class="nomeTeam fs-4">Luisa Acevedo</h2>
                            <p class="card-text">Classe 1995. Vivo a Roma e ho un debole per il back-end.</p>
                            <a href="https://www.linkedin.com/in/luisabizik/" class="btn btn-secondary text-white"
                                target="_blank">Linkedin</a>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                    <!-- Content -->
                    <div class="card">
                        <div class="card-body">
                            <h2 class="nomeTeam fs-4">Dario Mucci</h2>
                            <p class="card-text">Classe 1999, nato a Roma, voglio imparare Angular.</p>
                            <a href="https://www.linkedin.com/in/dario-mucci-3343111b5/"
                                class="btn btn-secondary text-white" target="_blank">Linkedin</a>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                    <!-- Content -->
                    <div class="card">
                        <div class="card-body">
                            <h2 class="nomeTeam fs-4">Antonio Napolitano</h2>
                            <p class="card-text">Nato nel 1998, vivo a Roma. Voglio migliorare in Java e imparare React.</p>
                            <a href="https://www.linkedin.com/in/antonio-napolitano-65b32b256/"
                                class="btn btn-secondary text-white" target="_blank">Linkedin</a>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                    <!-- Content -->
                    <div class="card">
                        <div class="card-body">
                            <h2 class="nomeTeam fs-4">Nicolò Petrucci</h2>
                            <p class="card-text">Nato a Roma, classe 2001, voglio imparare Java.</p>
                            <a href="https://www.linkedin.com/in/nicopetrucci/" class="btn btn-secondary text-white" target="_blank">Linkedin</a>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                    <!-- Content -->
                    <div class="card">
                        <div class="card-body">
                            <h2 class="nomeTeam fs-4">Riccardo Tucci</h2>
                            <p class="card-text">Nato a Roma, classe 1998, voglio migliorare in Java e accrescere le mie competenze nel mondo del back-end</p>
                            <a href="https://www.linkedin.com/in/r-tucci-e3/" class="btn btn-secondary text-white"
                                target="_blank">Linkedin</a>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                    <!-- Content -->
                    <div class="card">
                        <div class="card-body">
                            <h2 class="nomeTeam fs-4">Davide Valerio</h2>
                            <p class="card-text">Nato nel 1993, vivo a Torino. Interessato principalmente a Java, ho sviluppato un grande interesse anche per il mondo front-end.</p>
                            <a href="https://www.linkedin.com/in/davide-valerio-966383256/"
                                class="btn btn-secondary text-white" target="_blank">Linkedin</a>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                    <!-- Content -->
                    <div class="card">
                        <div class="card-body">
                            <h2 class="nomeTeam fs-4">Francesco Villa</h2>
                            <p class="card-text">Nato a Milano, classe 2001, membro dello scrum team,
                                uno dei responsabili del back end del progetto.</p>
                            <a href="https://www.linkedin.com/in/francesco-villa-945516256/"
                                class="btn btn-secondary text-white" target="_blank">Linkedin</a>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Fine section -->
    <footer th:insert="index.html :: footer"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</body>

</html>