<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Princesharing</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../resources/static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon.ico">
</head>

<body>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-md">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center me-0 " href="http://localhost:9014/">
                    <img th:src="@{/assets/img/logo.png}" alt="Logo" width="40" height="30" class="">
                    <h1 class="mainTitle ">Princesharing</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:9014/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../other/aboutus">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../other/novita">Novità</a>
                        </li>
                        <li class="nav-item" th:if="${session.loggedUser} != null and ${session.loggedUser.tipo} == 'B'">
                            <a class=" nav-link" href="../utenti/areaPersonale" > Area Personale</a>
                          </li>
                        <!-- <li class="nav-item">
			              <a href="utenti/login" class="btn btn-secondary ms-2" id="button-nav">Login</a>
			            </li>-->
			            <li class="nav-item" th:if="${session.loggedUser} != null and ${session.loggedUser.tipo} == 'A'">
			              <a class="nav-link" href="../utenti/pannello">Pannello di lavoro</a>
			            </li>
			            <li class="nav-item">
			              <a th:if="${session.loggedUser} == null" href="utenti/login" class="btn btn-secondary ms-md-2" id="button-nav">Login</a>
			              <a th:if="${session.loggedUser} != null" href="utenti/logout" class="btn btn-secondary ms-md-2" id="button-nav">Logout</a>
			            </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="py-5">
            <div class="container text-center">
                <h1 class="fw-bold text-primary">DOCUMENTAZIONE API</h1>
                <p class="fs-4">Benvenuto alla documentazione del nostro servizio di API Open Source</p>
            </div>
        </div>

        <section>
            <div class="container p-3">
                <div class="endpoint-section">
                    <h2 class="text-primary py-2">API Endpoint:</h2>
                    <ul>
                        <li>L'API ha il seguente endpoint:</li>
                        <li>api/veicoli</li>
                        <li>Method: [GET]</li>
                        <li>Esempio URL:<span class="bg-black text-light url-example" disabled>http://localhost:9014/api/veicoli</span></li>
                        <li>Esempio Risposta:</li>
                    </ul>
                    <div class="wrapper-output">
                        <pre class="text-light" disabled>
                            {
                                "id": 1,
                                "modello": "Fiat 600",
                                "marca": "Fiat",
                                "colore": "Blue cobalto",
                                "cilindrata": "900cc",
                                "tipologia": "Auto",
                                "alimentazione": "Benzina",
                                "descrizione": "Riguardo i dettagli del telaio auto responsabile della tenuta di strada, comportamento di guida e comfort di guida. Sospensioni anteriori e Coil springs. sospensioni posteriori. Il sistema di frenata Seicento Sporting comprende Dischi nella parte anteriore e Tamburo nella parte posteriore. 3 porte e 5 posti",
                                "posizioneAttuale": "Via dei colli della serpentara 00139",
                                "disponibilitaNoleggio": "Prolungato",
                                "immagineVeicolo": "Fiato600.jpg",
                                "utenteIns": {
                                "userId": "Amministratore",
                                "ultimaModifica": "2022-12-22T17:18:35",
                                "password": "Amministratore",
                                "firma": "Amministratore dei servizi",
                                "tipo": "A",
                                "nome": "Paolino",
                                "cognome": "Paperino",
                                "nascita": "20/08/1900",
                                "email": "paolino.paperino@paperopoli.com ",
                                "dataIscrizione": "2006-01-01T00:00:00"
                                },
                                "prenotazioni": [
                                {
                                "id": 1,
                                "utente": {
                                "userId": "Mario",
                                "ultimaModifica": "2020-04-05T00:00:00",
                                "password": "Mauri",
                                "firma": "Utente",
                                "tipo": "B",
                                "nome": "Rossi",
                                "cognome": "Rossi",
                                "nascita": "31/12/1998",
                                "email": "pino.rex123@pip.com",
                                "dataIscrizione": "2020-03-04T00:00:00"
                                },
                                "pagamento": {
                                "id": 1,
                                "metodoPagamento": "Carta di credito",
                                "nCarta": "1342985084639857",
                                "scadenza": "2024-01-01",
                                "cvv": "69",
                                "importo": 800
                                },
                                "dataPrenotazione": "2023-01-03T00:00:00"
                                }
                                ]
                                },
                                {
                                "id": 2,
                                "modello": "599xx evo",
                                "marca": "Ferrari",
                                "colore": "Nero",
                                "cilindrata": "499,99cc",
                                "tipologia": "Auto",
                                "alimentazione": "Benzina",
                                "descrizione": "autovettura coupé, ala mobile come quella per la F1 solamente che non è controllata dal pilota ma elettronicamente tramite sensori che rilevano se si è su un rettilineo o in curva e adatta da sola la resistenza dell'ala",
                                "posizioneAttuale": "Italia, Roma, Via Genzano 89",
                                "disponibilitaNoleggio": "Giornaliero",
                                "immagineVeicolo": "https://www.gtspiritmedia.com/gtspirit/uploads/2015/06/Ferrari-599XX-For-Sale6.jpg",
                                "utenteIns": {
                                "userId": "Amministratore",
                                "ultimaModifica": "2022-12-22T17:18:35",
                                "password": "Amministratore",
                                "firma": "Amministratore dei servizi",
                                "tipo": "A",
                                "nome": "Paolino",
                                "cognome": "Paperino",
                                "nascita": "20/08/1900",
                                "email": "paolino.paperino@paperopoli.com ",
                                "dataIscrizione": "2006-01-01T00:00:00"
                                },
                                "prenotazioni": [
                                {
                                "id": 2,
                                "utente": {
                                "userId": "Paolo",
                                "ultimaModifica": "2022-12-22T17:18:35",
                                "password": "paolo",
                                "firma": "Utente con diritti minimi",
                                "tipo": "B",
                                "nome": "Paolo",
                                "cognome": "DeSantis",
                                "nascita": "20/10/2001",
                                "email": "paolo.desantis@gmail.com",
                                "dataIscrizione": "2010-08-01T10:20:40"
                                },
                                "pagamento": {
                                "id": 2,
                                "metodoPagamento": "Mastercard",
                                "nCarta": "5167099046768999",
                                "scadenza": "2025-01-01",
                                "cvv": "321",
                                "importo": 13.5
                                },
                                "dataPrenotazione": "2023-02-10T10:10:22"
                                }</pre>
                    </div>
                </div>

                <div class="endpoint-section">
                    <h2 class="text-primary py-2">API Endpoint:</h2>
                    <ul>
                        <li>L'API ha il seguente endpoint:</li>
                        <li>api/veicoli/{veicoloId}</li>
                        <li>Method: [GET]</li>
                        <li>Esempio URL:<span class="bg-black text-light url-example " disabled>http://localhost:9014/api/veicoli/10</span></li>
                        <li>Esempio Risposta:</li>
                    </ul>
                    <div class="wrapper-output">
                        <pre class="text-light" disabled>
                            {
                                "id": 10,
                                "modello": "A1",
                                "marca": "Audi",
                                "colore": "bianca ",
                                "cilindrata": "100cc",
                                "tipologia": "Auto",
                                "alimentazione": "Diesel",
                                "descrizione": "La seconda generazione di A1 Sportback, la compatta Audi più apprezzata, è caratterizzata da un design sportivo che fa subito colpo e da un’ampia flessibilità nelle opzioni di equipaggiamento",
                                "posizioneAttuale": " Via Genova 10126 ",
                                "disponibilitaNoleggio": "Prolungato",
                                "immagineVeicolo": "AudiA1.jpg",
                                "utenteIns": {
                                "userId": "Amministratore",
                                "ultimaModifica": "2022-12-22T17:18:35",
                                "password": "Amministratore",
                                "firma": "Amministratore dei servizi",
                                "tipo": "A",
                                "nome": "Paolino",
                                "cognome": "Paperino",
                                "nascita": "20/08/1900",
                                "email": "paolino.paperino@paperopoli.com ",
                                "dataIscrizione": "2006-01-01T00:00:00"
                                },
                                "prenotazioni": []
                                }</pre>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <!-- Footer -->
    <footer th:insert="index.html :: footer"></footer>
    <!-- Footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</body>

</html>