<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Princesharing</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../resources/static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>

<body>
    <header th:fragment="header">

        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center me-0 " href="#">
                    <img th:src="@{/assets/img/logo.png}" alt="Logo" width="40" height="30" class="">
                    <h1 class="mainTitle ">Princesharing</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../../utenti/login">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="../../prenotazioni/elenco" class="nav-link active">Elenco delle prenotazioni</a>
                        </li>
                        <li class="nav-item">
                            <a href="../../veicoli/elenco" class="nav-link">Elenco dei veicoli amministrabili</a>
                        </li>
                        <li class="nav-item">
                            <a href="../../veicoli/inserisci" class="nav-link">Inserisci un veicolo</a>
                        </li>
                        <li class="nav-item">
                            <a href="logout" class="btn btn-secondary ms-md-2">Logout</a>
                        </li>
                    </ul>
                </div>
        </nav>
    </header>
    <main>

        <div class="container py-2">
            <table class="table table-booking shadow">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Data della prenotazione</th>
                        <th scope="col">Utente</th>
                        <th scope="col">Veicolo</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider" id="tableBody">

                </tbody>
            </table>

            <div class="d-flex justify-content-center gap-3 my-3">
                <button type="button" id="indietroBtn" class="btn btn-secondary">Indietro</button>
                <button type="button" id="avantiBtn" class="btn btn-secondary">Avanti</button>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <form action="editPrenotazione" method="post" class="mb-3" id="mioForm" enctype="multipart/form-data" hidden>
                            <div class="mb-3">
                                <label for="id" class="form-label">Prenotazione (ID)</label>
                                <input type="text" class="form-control" id="id" name="id" readonly>
                                <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                            </div>
                            <div class="mb-3">
                                <label for="dataPrenotazione" class="form-label">Data della prenotazione</label>
                                <input type="date" class="form-control" id="dataPrenotazione" name="dataPrenotazione">
                            </div>
                            <!-- <div class="mb-3">
                                <label for="utenteId" class="form-label">Utente (ID)</label>
                                <input type="text" class="form-control" id="utenteId" name="utenteId">
                            </div>
                            <div id="utenteIdText" class="form-text" hidden>L'ID dell'utente non è valido</div>
                            <div class="mb-3">
                                <label for="veicoloId" class="form-label">Veicolo (ID)</label>
                                <input type="text" class="form-control" id="veicoloId" name="veicoloId">
                            </div>
                            <div id="veicoloIdText" class="form-text" hidden>L'ID del veicolo non è valido</div>
                            -->
                        
                            <div class="mb-3">
                                <select id="utenteId" name="utenteId" class="form-select">
                        
                                </select>
                            </div>
                            <div class="mb-3">
                                <select id="veicoloId" name="veicoloId" class="form-select">
                        
                                </select>
                            </div>
                        
                            <!--<input type="hidden" name="utenteIns" id="utenteIns" readonly>-->
                            <button type="submit" id="btnSubmit" class="btn btn-primary">Aggiorna</button>
                            <button type="reset" class="btn btn-primary">Reset</button>
                        </form>
                    </div>
                </div>
            </div>

    </main>

    <footer th:insert="index.html :: footer"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script th:src="@{/assets/js/elencoPrenotazioniAdmin.js}"></script>
</body>

</html>