<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elenco dei veicoli amministrabili | Princesharing</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../resources/static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400;600;700;900&display=swap" rel="stylesheet">  
    <style> @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400;600;700;900&display=swap'); </style>
</head>

<body>
    <header th:fragment="header">

        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center me-0" href="http://localhost:9014/">
                    <h1 class="mainTitle"><img th:src="@{/assets/img/logo.png}" alt="Logo" width="40" height="30" class="me-2">Princesharing</h1>
                  </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../../utenti/login">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="../../prenotazioni/elenco" class="nav-link">Elenco delle prenotazioni</a>
                        </li>
                        <li class="nav-item">
                            <a href="../../veicoli/elenco" class="nav-link active">Elenco dei veicoli amministrabili</a>
                        </li>
                        <li class="nav-item">
                            <a href="../../veicoli/inserisci" class="nav-link">Inserisci un veicolo</a>
                        </li>
                        <li class="nav-item">
                            <a href="logout" class="btn btn-secondary ms-md-2">Logout</a>
                        </li>
                    </ul>
                </div>
        </nav>
    </header>
    
    <main>
        <div class="container-fluid pt-5">
            <div class="table-responsive">
                <table class="table table-veicoliAmm shadow">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Modello</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Colore</th>
                            <th scope="col">Cilindrata</th>
                            
                            <th scope="col">Alimentazione</th>
                            <th scope="col">Descrizione</th>
                            <th scope="col">Tipo&nbsp;noleggio</th>
                            <th scope="col">Immagine</th>
                            <th scope="col">Posizione&nbsp;attuale</th>
                            <th scope="col">Tipologia</th>
                            <th scope="col">Inserito&nbsp;da</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider" id="tableBody"></tbody>
                </table>
            </div>

            <div class="d-flex justify-content-center gap-3 pt-3 pb-5">
                <button type="button" id="indietroBtn" class="btn btn-secondary">Indietro</button>
                <button type="button" id="avantiBtn" class="btn btn-secondary">Avanti</button>
            </div>

            <div class="container pt-3">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <form action="editVeicolo" method="post" class="mb-5 shadow p-5" id="mioForm" enctype="multipart/form-data" hidden>
                            <div class="mb-3">
                                 <label for="veicoloId" class="form-label">ID del veicolo</label>
                                 <input type="number" class="form-control form-control-plaintext ps-2" id="veicoloId" name="veicoloId" readonly>
                             </div>
                            <div class="mb-3">
                                 <label for="modello" class="form-label">Modello</label>
                                 <input type="text" class="form-control" id="modello" name="modello">
                             </div>
                             <div class="mb-3">
                                 <label for="marca" class="form-label">Marca</label>
                                 <input type="text" class="form-control" id="marca" name="marca">
                             </div>
                             <div class="mb-3">
                                 <label for="colore" class="form-label">Colore</label>
                                 <input type="text" class="form-control" id="colore" name="colore">
                             </div>
                             <div class="">
                                 <label for="cilindrata" class="form-label">Cilindrata</label>
                                 <input type="text" class="form-control" id="cilindrata" name="cilindrata">
                             </div>
                             <div id="fileHelp" class="form-text mb-3">* Insersci <span class="font-monospace">-1</span> se non disponibile</div>
                            <div class="mb-3">
                                <label for="alimentazione" class="form-label">Alimentazione</label>
                                <input type="text" class="form-control" id="alimentazione" name="alimentazione">
                            </div>
                                   <!-- <div class="mb-3">
                                <label for="descrizione" class="form-label">Descrizione</label>
                                <input type="text" class="form-control" id="descrizione" name="descrizione">
                            </div>-->
                            <div class="mb-3">
                                <label for="descrizione" class="form-label">Descrizione</label>
                                <textarea class="form-control" id="descrizione" name="descrizione" style="height: 100px"></textarea>
                            </div>
                            <!-- <div class="form-check form-switch mb-3">
                                        <input class="form-check-input" type="checkbox" role="switch" id="disponibilitaNoleggio" name="disponibilitaNoleggio">
                                        <label class="form-check-label" for="disponibilitaNoleggio">Disponibile al noleggio</label>
                                      </div>-->
                            <div class="mb-3">
                            	<label for="disponibilitaNoleggio" class="form-label">Tipologia di Noleggio</label>
                                <select id="disponibilitaNoleggio" name="disponibilitaNoleggio" class="form-select">
                                    <option value="-1" selected disabled>----------</option>
                                    <option value="Prolungato">Prolungato</option>
                                    <option value="Giornaliero">Giornaliero (durata: 1 giorno)</option>
                                    <option value="No">Non disponibile</option>
                                </select>
                            </div>
                            <!-- <label for="immagineVeicolo" class="form-label">Immagine del veicolo</label>
                                          <div class="input-group mb-3">
                                              <input type="text" class="form-control" id="immagineVeicolo" name="immagineVeicolo" aria-describedby="basic-addon3">
                                          </div>-->
                            <label for="immagineVeicolo" class="form-label">Immagine</label>
                            <div class="input-group" id="fileInGroup">
                                <input type="file" class="form-control" id="immagineVeicolo" name="immagineVeicolo" accept="image/*">
                                <!-- <label class="input-group-text" for="inputGroupFile02">Upload</label> -->
                                <input type="hidden" id="linkVeicolo" name="linkVeicolo">
	                            <div class="preview" hidden>
							   		<img id="file-ip-1-preview">
							 	</div>
                            </div>
                            <div id="fileHelp" class="form-text mb-3">* Per mantenere l'immagine ignora questo campo (inserimento file) e il bottone sottostante</div>
                            <div class="form-check form-switch mb-3" id="delImgInGroup">
                                <input class="form-check-input" type="checkbox" role="switch" id="delImg" name="delImg">
                                <label class="form-check-label text-danger" for="delImg">Elimina PERMANENTEMENTE l'immagine</label>
                            </div>
                            <div class="mb-3">
                                <label for="posizioneAttuale" class="form-label">Posizione Attuale</label>
                                <input type="text" class="form-control" id="posizioneAttuale" name="posizioneAttuale">
                            </div>
                            <div class="mb-3">
                            	<label for="tipologia" class="form-label">Tipologia di Veicolo</label>
                                <select name="tipologia" id="tipologia" class="form-select" aria-label="Default select example">
                                    <option value="-1" selected disabled>----------</option>
                                    <option value="Auto">Auto</option>
                                    <option value="Bicicletta">Bicicletta</option>
                                    <option value="Monopattino">Monopattino</option>
                                    <option value="Motorino">Motorino</option>
                                </select>
                            </div>
                            <input type="hidden" name="utenteIns" id="utenteIns" readonly>
                            <div class="text-end">
                                <button type="reset" class="btn btn-secondary">Reset</button>
                                <button type="submit" class="btn btn-primary text-white ms-1">Aggiorna</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal" tabindex="-1" id="myModal">
            <div class="modal-dialog modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Elimina il veicolo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Stai per eliminare permanentemente il veicolo, vuoi continuare?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                        <button type="button" class="btn btn-primary text-white" id="modalBtnDelete">Conferma</button>
                    </div>
                </div>
            </div>
        </div>
		
		<div class="toast-container position-fixed bottom-0 end-0 p-3">
		  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
		    <div class="toast-header">
		      <img th:src="@{/assets/img/logo.png}" class="rounded me-2" alt="logo" height="17px">
		      <strong class="me-auto fs-6">Sistema</strong>
		      <small class="text-muted">ora</small>
		      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		    </div>
		    <div class="toast-body fs-6">
		      Veicolo eliminato con successo!
		    </div>
		  </div>
		</div>
		
		<div class="toast-container position-fixed bottom-0 end-0 p-3" th:if="${updSuccess} == true">
		  <div id="liveToastUpd" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
		    <div class="toast-header">
		      <img th:src="@{/assets/img/logo.png}" class="rounded me-2" alt="logo" height="17px">
		      <strong class="me-auto fs-6">Sistema</strong>
		      <small class="text-muted">ora</small>
		      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		    </div>
		    <div class="toast-body fs-6">
		      Veicolo modificato con successo!
		    </div>
		  </div>
		</div>
    </main>

    
    <footer th:insert="index.html :: footer"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script th:src="@{/assets/js/elencoVeicoli.js}"></script>
</body>

</html>