<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Princesharing</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="../assets/static/css/style.css" th:href="@{/assets/css/style.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-primary">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="../assets/img/logo.png" alt="Logo" width="50" height="40" class="mb-4">
          <span class="mainTitle ">Princesharing</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Attività
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">Disponibilità veicoli</a></li>
                <li><a class="dropdown-item" href="#">Pagina del singolo veicolo</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Pannello di lavoro</a></li>
                <li><a class="dropdown-item" href="#">Pagina di inserimento di un veicolo</a></li>
                <li><a class="dropdown-item" href="#">Elenco dei veicoli e prenotazioni amministrabili</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="" class="btn btn-secondary">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>

    <section id="banner">
      <div class="container my-3">

        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper" id="swiper-box">
            <!-- Slides -->
            <div class="swiper-slide">

              <div class="card mb-3">
                    <img src="https://source.unsplash.com/600x400?car" class="card-img-top">
                    <div class="card-body">
                      <div class="card-text">
                        <p id="descrizione"></p>
                        <p> id="</p>
                      </div>
                      <div class="d-flex justify-content-center">
                        <a href="" class="btn btn-primary">Di più</a>
                      </div>
                    </div>
                  </div>

            </div>
          </div>
          <!-- If we need pagination -->
          
          <!-- If we need scrollbar -->
          <div class="swiper-scrollbar"></div>
        </div>
      </div>
    </section>

    <section id="spacer"></section>
    <section id="calendario"></section>

    <footer class="FooterComponent py-3 pt-4 v1-background-color-white v1-border-top-1 v1-border-color-ground-light">
      <div class="container pb-6 pb-xl-0">
        <div class="row">
          <div class="FooterComponent__navigation col-md-9">
            <div class="row">
              <div class="col-6 col-md-4 mb-3 v1-body-small v1-color-ink">
                <div class="LinkComponent">
                  <!---->
                  <a href=""
                    class="router-link-active v1-link-primary v1-font-weight-bold d-inline-flex align-items-center">
                    <!---->
                    <span class="py-2 pr-2">Princesharing</span></a>
                </div>
                <div class="LinkComponent">
                  <!----> <a href="/it-it/car-sharing-milano" aria-current="page"
                    class="router-link-exact-active router-link-active v1-link-primary v1-font-weight-bold d-inline-flex align-items-center v1-color-primary-dark">
                    <!----> <span class="py-2 pr-2">Milano</span></a></div>
                <div class="LinkComponent">
                  <!----> <a href="/it-it/aziendale/noleggio-auto-aziendali"
                    class="v1-link-primary v1-font-weight-bold d-inline-flex align-items-center">
                    <!----> <span class="py-2 pr-2">Princesharing per le aziende</span></a></div>
                <div class="LinkComponent">
                  <!----> <a href="/it-it/su-di-noi"
                    class="v1-link-primary v1-font-weight-bold d-inline-flex align-items-center">
                    <!----> <span class="py-2 pr-2">Su di noi</span></a></div>
              </div>
              <div class="col-6 col-md-4 mb-3 v1-body-small v1-color-ink">
                <div class="LinkComponent">
                  <!----> <a href="/it-it/car-sharing-milano/tariffe"
                    class="v1-link-primary v1-font-weight-bold d-inline-flex align-items-center v1-color-primary-dark">
                    <!----> <span class="py-2 pr-2">Tariffe</span></a></div>
                <div class="LinkComponent">
                  <!----> <a href="/it-it/car-sharing-milano/noleggio-auto-aziendali"
                    class="v1-link-primary v1-font-weight-bold d-inline-flex align-items-center v1-color-primary-dark">
                    <!----> <span class="py-2 pr-2">Aziende</span></a></div>
                <div class="LinkComponent">
                  <!----> <a href="/it-it/car-sharing-milano/come-funziona"
                    class="v1-link-primary v1-font-weight-bold d-inline-flex align-items-center v1-color-primary-dark">
                    <!----> <span class="py-2 pr-2">Come funziona</span></a></div>
                <div class="LinkComponent">
                  <!----> <a href="/it-it/car-sharing-milano/contattaci"
                    class="v1-link-primary v1-font-weight-bold d-inline-flex align-items-center v1-color-primary-dark">
                    <!----> <span class="py-2 pr-2">Contattaci</span></a></div>
              </div>
              <div class="col-12 d-block d-md-none my-3">
                <hr class="
                v1-border-top-1
                v1-border-color-ground-light
                v1-border-radius-none
              ">
              </div>
              <div class="col-md-4 v1-body-small v1-color-ink">
                <div class="LinkComponent">
                  <!----> <a href="/"
                    class="router-link-active v1-link-primary v1-font-weight-bold d-inline-flex align-items-center">
                    <!----> <span class="py-2 pr-2">Global Home Page</span></a></div>
                <div class="LinkComponent">
                  <!----> <a
                    href="https://www.linkedin.com/jobs/search/?f_C=31897245%2C901501%2C3803853%2C339212%2C6717&amp;locationId=OTHERS.worldwide&amp;redirect=false&amp;position=1&amp;pageNum=0"
                    target="_blank" aria-label="Link Lavora con noi"
                    class="v1-link-primary v1-font-weight-bold d-inline-flex align-items-center">
                    <!----> <span class="py-2 pr-2">Lavora con noi</span></a></div>
                <div class="LinkComponent">
                  <!----> <a href="https://faq-it.ubeeqo.com/it/support/home" target="_blank" aria-label="Link Aiuto"
                    class="v1-link-primary v1-font-weight-bold d-inline-flex align-items-center">
                    <!----> <span class="py-2 pr-2">Aiuto</span></a></div>
                <div class="LinkComponent">
                  <!----> <a href="https://benvenuto.ubeeqo.com/covid/" target="_blank"
                    aria-label="Link Covid-19 informazioni: la nostra flotta è di nuovo disponibile!"
                    class="v1-link-primary v1-font-weight-bold d-inline-flex align-items-center">
                    <!----> <span class="py-2 pr-2">Covid-19 informazioni: la nostra flotta è di nuovo
                      disponibile!</span></a></div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="mb-3 col-12 v1-body-small v1-color-ink">
                <div class="color-ink font-weight-bold py-2">
                  Contattaci
                </div>
                <div class="LinkComponent"><span>E-mail </span> <a href="mailto:supporto@ubeeqo.com" target="_self"
                    aria-label="E-mail" class="v1-link-primary v1-font-weight-bold d-inline-flex align-items-center">
                    <!----> <span class="py-2 pr-2">supporto@princesharing.com</span></a></div>
                <div class="LinkComponent">
                  <!----> <a href="tel:+39 02 897 319 89" target="_self" aria-label="Link +39 02 897 319 89"
                    class="v1-link-primary v1-font-weight-bold d-inline-flex align-items-center">
                    <!----> <span class="py-2 pr-2">+39 02 493 192 66</span></a></div>
              </div>
              <div class="col-12"></div>
              <div class="AppsLinksComponent col-12 mb-3">
                <div class="AppsLinksComponent__holder AppsLinksComponent__holder--ios mr-3 mb-3">
                  <div class="AppsLinksComponent__container AppsLinksComponent__container--ios"><a
                      href="" target="_blank" rel="noopener" aria-label="iOS app link"
                      class="AppsLinksComponent__link AppsLinksComponent__link--ios text-left">
                      <div data-test-id="image-component"
                        class="AppsLinksComponent__image AppsLinksComponent__image--ios ImageComponent text-left">
                        <div class="position-relative w-100" style="padding-bottom: 33.3333%;"><img
                            alt="iOS app link illustration" title="" data-srcset=""
                            class="position-absolute ImageComponent__src w-100 h-100"
                            data-src=""
                            src=""
                            lazy="loaded"> <noscript></noscript></div>
                      </div>
                    </a></div>
                </div>
                <div class="AppsLinksComponent__holder AppsLinksComponent__holder--android">
                  <div class="AppsLinksComponent__container AppsLinksComponent__container--android"><a
                      href="https://go.onelink.me/app/f94c6bc9" target="_blank" rel="noopener"
                      aria-label="Android app link"
                      class="AppsLinksComponent__link AppsLinksComponent__link--android text-left">
                      <div data-test-id="image-component"
                        class="AppsLinksComponent__image AppsLinksComponent__image--android ImageComponent text-left">
                        <div class="position-relative w-100" style="padding-bottom: 30.303%;"><img
                            alt="Android app link illustration" title="" data-srcset=""
                            class="position-absolute ImageComponent__src w-100 h-100"
                            data-src=""
                            src=""
                            lazy="loaded"> <noscript></noscript></div>
                      </div>
                    </a></div>
                </div>
              </div>
              <div class="col-12 d-block d-md-none">
                <div class="
                v1-border-top-1
                v1-border-color-ground-light
                v1-border-radius-none
                pb-3
              "></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 my-3">
            <hr class="v1-border-top-1 v1-border-color-ground-light v1-border-radius-none">
          </div>
        </div>
        <div class="row">
          <div class="
          col-md-6
          col-xl-auto
          py-2
          v1-body-x-small
          v1-color-ink-light
          FooterComponent__copyright
        ">Princesharing International SASU <br> Ⓒ Copyright 2022</div>
          <div class="FooterComponent__legal-menu col-md-6 col-xl">
            <div class="row">
              <div class="LinkComponent col-12 col-md-6 col-xl text-left text-xl-right">
                <!----> <a href="/it-it/condizioni-generali" class="
              v1-link-ink-light
              cursor-pointer
              v1-body-x-small
              d-inline-flex
              align-items-center
              v1-font-weight-bold
            ">
                  <!----> <span class="py-2 pr-2">Condizioni di Utilizzo</span></a></div>
              <div class="LinkComponent col-12 col-md-6 col-xl text-left text-xl-right">
                <!----> <a href="/it-it/condizioni-di-noleggio" class="
              v1-link-ink-light
              cursor-pointer
              v1-body-x-small
              d-inline-flex
              align-items-center
              v1-font-weight-bold
            ">
                  <!----> <span class="py-2 pr-2">Condizioni di abbonamento e noleggio</span></a></div>
              <div class="LinkComponent col-12 col-md-6 col-xl text-left text-xl-right">
                <!----> <a href="/it-it/privacy-policy" class="
              v1-link-ink-light
              cursor-pointer
              v1-body-x-small
              d-inline-flex
              align-items-center
              v1-font-weight-bold
            ">
                  <!----> <span class="py-2 pr-2">Privacy</span></a></div>
              <div class="LinkComponent col-12 col-md-6 col-xl text-left text-xl-right">
                <!----> <a href="/it-it/privacy-policy/cookie-policy" class="
              v1-link-ink-light
              cursor-pointer
              v1-body-x-small
              d-inline-flex
              align-items-center
              v1-font-weight-bold
            ">
                  <!----> <span class="py-2 pr-2">Cookie policy</span></a></div>
              <div class="LinkComponent col-12 col-md-6 col-xl text-left text-xl-right">
                <!----> <a href="javascript:Didomi.preferences.show()" target="_self"
                  aria-label="Link Impostazioni dei cookie" class="
              v1-link-ink-light
              cursor-pointer
              v1-body-x-small
              d-inline-flex
              align-items-center
              v1-font-weight-bold
            ">
                  <!----> <span class="py-2 pr-2">Impostazioni dei cookie</span></a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>


  </main>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="../.././resources/assets/js/index.js"></script>
</body>

</html>