<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Errore</title>
    <link rel="stylesheet" href="../../resources/static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <div class="text-center py-4">
        <h1>Non disponi di diritti sufficienti alla modifica del parco veicoli</h1>
    </div>
    <div class="container">
        <form action="logout">
            <button type="submit" class="btn btn-secondary">Torna alla Home</button>
        </form>
        <form action="logout" th:if="${session.showBtn} == true">
            <button type="submit" class="btn btn-secondary ms-2">Logout</button>
        </form>
    </div>
</body>
</html>