<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Princesharing</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../resources/static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>

<body>

    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">

                                    <div class="text-center">
                                        <img th:src="@{/assets/img/logo.png}" alt="Logo" width="65" height="50"
                                            class="">
                                        <p class="loginTitle fs-2">The Princess Team</p>
                                    </div>

                                    <form action="loginCheck" method="POST">
                                        <p>Please login to your account</p>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example11">Username</label>
                                            <input type="text" id="username" name="username"
                                                class="form-control w-75 mx-auto" placeholder="Insert your username" />
                                        </div> 

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example22">Password</label>
                                            <input type="password" id="password" name="password"
                                                class="form-control w-75 mx-auto" placeholder="Insert your password" style="caret-color: #47A15B" />
                                        </div>

                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button
                                                class="btn btn-primary btn-block text-white fa-lg gradient-custom-2 mb-3"
                                                type="submit">Log
                                                in</button>
                                            <!-- <a class="text-muted text-decoration-none" href="#!">Forgot password?</a> -->
                                        </div>

                                        <!-- <div class="d-flex align-items-center justify-content-center pb-4">
                                            <p class="mb-0 me-2">Don't have an account?</p>
                                            <button type="button" class="btn btn-outline-danger">Create new</button>
                                        </div> -->
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                    <h4 class="mb-4">We are more than just a company</h4>
                                    <p class="small mb-0">Costituita nel 2020, PRINCESHARING è un partner tecnologico
                                        d’eccellenza per le soluzioni IoT applicate alla localizzazione e alla gestione
                                        avanzata di mezzi.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="../.././resources/assets/js/veicolo.js"></script>
</body>

</html>