<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Princesharing</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../resources/static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="apple-touch-icon" sizes="57x57" href="../static/assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../static/assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/assets/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/assets/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center me-0 " href="#">
                    <img th:src="@{/assets/img/logo.png}" alt="Logo" width="40" height="30" class="">
                    <h1 class="mainTitle ">Princesharing</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link"href="http://localhost:9014/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../other/aboutus" >About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="../other/novità">Novità</a>
                        </li>
                        <!-- <li class="nav-item">
			              <a href="utenti/login" class="btn btn-secondary ms-2" id="button-nav">Login</a>
			            </li>-->
			            <li class="nav-item">
			              <a th:if="${session.loggedUser} == null" href="../utenti/login" class="btn btn-secondary ms-md-2" id="button-nav">Login</a>
			              <a th:if="${session.loggedUser} != null" href="../utenti/logout" class="btn btn-secondary ms-md-2" id="button-nav">Logout</a>
			            </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--Main layout-->
    <div class="container">
        <!--Section: News of the day-->
        <section class="border-bottom pb-4 mb-5">
            <div class="row gx-5">
                <div class="col-md-6 my-2 mx-auto">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src="https://mdbcdn.b-cdn.net/img/new/slides/080.webp" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>

                <div class="col-md-6 my-2 mx-auto">
                    <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">News of the day</span>
                    <h4><strong>Facilis consequatur eligendi</strong></h4>
                    <p class="text-muted">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
                        eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
                        sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
                    </p>
                    <button type="button" class="btn btn-secondary text-white">Read more</button>
                </div>
            </div>
        </section>
        <!--Section: News of the day-->

        <!--Section: Content-->
        <section>
            <div class="row gx-lg-5">
                <div class="col-lg-4 col-md-12 mx-auto mb-lg-0">
                    <!-- News block -->
                    <div>
                        <!-- Featured image -->
                        <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mx-auto"
                            data-mdb-ripple-color="light">
                            <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/113.webp" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>

                        <!-- Article data -->
                        <div class="row my-3">
                            <div class="col-6">
                                <p href="" class="text-info">
                                    <i class="fas fa-plane"></i>
                                    Travels
                                </p>
                            </div>

                            <div class="col-6 text-end">
                                <u> 15.07.2020</u>
                            </div>
                        </div>

                        <!-- Article title and description -->
                        <p href="" class="text-dark">
                            <h5>This is title of the news</h5>

                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, iste aliquid. Sed
                                id nihil magni, sint vero provident esse numquam perferendis ducimus dicta
                                adipisci iusto nam temporibus modi animi laboriosam?
                            </p>
                        </p>

                        <hr />

                        <!-- News -->
                        <p href="" class="text-dark">
                            <div class="row mx-auto border-bottom pb-2">
                                <div class="col-3">
                                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp"
                                        class="img-fluid shadow-1-strong rounded" alt="Hollywood Sign on The Hill"/>
                                </div>

                                <div class="col-9">
                                    <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                                    <p>
                                        <u> 15.07.2020</u>
                                    </p>
                                </div>
                            </div>
                        </p>

                        <!-- News -->
                        <p href="" class="text-dark">
                            <div class="row mx-auto border-bottom pb-2">
                                <div class="col-3">
                                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp"
                                        class="img-fluid shadow-1-strong rounded" alt="Palm Springs Road" />
                                </div>

                                <div class="col-9">
                                    <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                                    <p>
                                        <u> 15.07.2020</u>
                                    </p>
                                </div>
                            </div>
                        </p>
                    </div>
                    <!-- News block -->
                </div>

                <div class="col-lg-4 col-md-6 mx-auto mb-lg-0">
                    <!-- News block -->
                    <div>
                        <!-- Featured image -->
                        <div class="bg-image hover-overlay shadow-1-strong rounded-5 ripple mx-auto"
                            data-mdb-ripple-color="light">
                            <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/011.webp" class="img-fluid"
                                alt="Brooklyn Bridge" />
                            <p href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </p>
                        </div>

                        <!-- Article data -->
                        <div class="row mb-3">
                            <div class="col-6">
                                <p href="" class="text-danger">
                                    <i class="fas fa-chart-pie"></i>
                                    Business
                                </p>
                            </div>

                            <div class="col-6 text-end">
                                <u> 15.07.2020</u>
                            </div>
                        </div>

                        <!-- Article title and description -->
                        <p href="" class="text-dark">
                            <h5>This is title of the news</h5>

                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, iste aliquid. Sed
                                id nihil magni, sint vero provident esse numquam perferendis ducimus dicta
                                adipisci iusto nam temporibus modi animi laboriosam?
                            </p>
                        </p>

                        <hr />

                        <!-- News -->
                        <p href="" class="text-dark">
                            <div class="row mx-auto border-bottom pb-2">
                                <div class="col-3">
                                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/031.webp"
                                        class="img-fluid shadow-1-strong rounded" alt="Five Lands National Park" />
                                </div>

                                <div class="col-9">
                                    <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                                    <p>
                                        <u> 15.07.2020</u>
                                    </p>
                                </div>
                            </div>
                        </p>

                        <!-- News -->
                        <p href="" class="text-dark">
                            <div class="row mx-auto border-bottom pb-2">
                                <div class="col-3">
                                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/032.webp"
                                        class="img-fluid shadow-1-strong rounded" alt="Paris - Eiffel Tower" />
                                </div>

                                <div class="col-9">
                                    <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                                    <p>
                                        <u> 15.07.2020</u>
                                    </p>
                                </div>
                            </div>
                        </p>
                    </div>
                    <!-- News block -->
                </div>

                <div class="col-lg-4 col-md-6 mx-auto mb-lg-0">
                    <!-- News block -->
                    <div>
                        <!-- Featured image -->
                        <div class="bg-image hover-overlay shadow-1-strong rounded-5 ripple mx-auto"
                            data-mdb-ripple-color="light">
                            <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/018.webp" class="img-fluid"
                                alt="Golden Gate National Recreation Area" />
                            <p href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </p>
                        </div>

                        <!-- Article data -->
                        <div class="row mb-3">
                            <div class="col-6">
                                <p href="" class="text-warning">
                                    <i class="fas fa-code"></i>
                                    Technology
                                </p>
                            </div>

                            <div class="col-6 text-end">
                                <u> 15.07.2020</u>
                            </div>
                        </div>

                        <!-- Article title and description -->
                        <p href="" class="text-dark">
                            <h5>This is title of the news</h5>

                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, iste aliquid. Sed
                                id nihil magni, sint vero provident esse numquam perferendis ducimus dicta
                                adipisci iusto nam temporibus modi animi laboriosam?
                            </p>
                        </p>

                        <hr />

                        <!-- News -->
                        <p href="" class="text-dark">
                            <div class="row mx-auto border-bottom pb-2">
                                <div class="col-3">
                                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/011.webp"
                                        class="img-fluid shadow-1-strong rounded" alt="Brooklyn Bridge" />
                                </div>

                                <div class="col-9">
                                    <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                                    <p>
                                        <u> 15.07.2020</u>
                                    </p>
                                </div>
                            </div>
                        </p>

                        <!-- News -->
                        <p href="" class="text-dark">
                            <div class="row mx-auto border-bottom pb-2">
                                <div class="col-3">
                                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/012.webp"
                                        class="img-fluid shadow-1-strong rounded" alt="Hamilton Park" />
                                </div>

                                <div class="col-9">
                                    <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                                    <p>
                                        <u> 15.07.2020</u>
                                    </p>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!--Section: Content-->

        <!-- Pagination -->
        <!-- <nav class="my-4" aria-label="...">
            <ul class="pagination pagination-circle justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav> -->
    </div>
    
    <footer th:insert="index.html :: footer"></footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</body>

</html>