<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Princesharing</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../resources/static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="apple-touch-icon" sizes="57x57" href="../static/assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../static/assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/assets/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/assets/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>

    <header th:fragment="header">
        <nav class="navbar navbar-expand-md">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center flex-wrap me-0 " href="#">
                    <img th:src="@{/assets/img/logo.png}" alt="Logo" width="40" height="30" class="">
                    <h1 class="mainTitle ">Princesharing</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:9014/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../other/aboutus">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../other/novità">Novità</a>
                        </li>
                        <li class="nav-item"
                            th:if="${session.loggedUser} != null and ${session.loggedUser.tipo} == 'B'">
                            <a class=" nav-link" href="../utenti/areaPersonale"> Area Personale</a>
                        </li>
                        <!-- <li class="nav-item">
			              <a href="utenti/login" class="btn btn-secondary ms-2" id="button-nav">Login</a>
			            </li>-->
                        <li class="nav-item"
                            th:if="${session.loggedUser} != null and ${session.loggedUser.tipo} == 'A'">
                            <a class="nav-link" href="../utenti/pannello">Pannello di lavoro</a>
                        </li>
                        <li class="nav-item">
                            <a th:if="${session.loggedUser} == null" href="../utenti/login"
                                class="btn btn-secondary ms-md-2" id="button-nav">Login</a>
                            <a th:if="${session.loggedUser} != null" href="../utenti/logout"
                                class="btn btn-secondary ms-md-2" id="button-nav">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Inizio main -->
    <main class="container">

        <div class="container text-center mt-4 mb-5">
            <div class="text-center py-5">
                <h2 class="fs-1 fw-bold">Informativa sulla Privacy</h2>
            </div>
            <p class="mb-0">Nella nostra Informativa sulla privacy per gli utenti abbiamo raccolto tutte le informazioni
                essenziali sulla nostra gestione dei tuoi dati personali e sui tuoi diritti corrispondenti per te. La
                presente Informativa sulla privacy degli utenti è in vigore dal 23 dicembre 2021.</p>
        </div>

        <!-- Row -->
        <div class="row justify-content-center my-3">

            <!-- Column -->
            <div class="col-10 col-lg-5 col-xl-4 p-md-3 border border-2 rounded border-primary" role="button"
                data-bs-toggle="modal" data-bs-target="#modalSicurezza">
                <!-- Content -->
                <div class="container d-flex align-items-center py-3 ">
                    <img class="p-2" alt=""
                        src="https://secureir.ebaystatic.com/pictures/aw/OCS_SelfService/Icon_ebay_UPN_HowWeProtect_FullColor.svg"
                        style="float:left">
                    <h3 class="fs-5 mb-0 p-2">Sicurezza dei dati</h3>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modalSicurezza" tabindex="-1" aria-labelledby="modalSicurezzaLabel"
                aria-hidden="true">
                <!-- Vertically centered scrollable modal -->
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalSicurezzaLabel">Sicurezza dei dati</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Chiudi"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fine Column -->

            <!-- Column -->
            <div class="col-10 col-lg-5 col-xl-4 p-md-3 border border-2 rounded border-secondary" role="button"
                data-bs-toggle="modal" data-bs-target="#modalDati">
                <!-- Content -->
                <div class="container d-flex align-items-center py-3 ">
                    <img class="p-2" alt=""
                        src="https://secureir.ebaystatic.com/pictures/aw/OCS_SelfService/Icon_ebay_UPN_HowWeCollect_FullColor.svg"
                        style="float:left">
                    <h3 class="fs-5 mb-0 p-2">Quali dati personali raccogliamo ed elaboriamo</h3>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modalDati" tabindex="-1" aria-labelledby="modalDatiLabel" aria-hidden="true">
                <!-- Vertically centered scrollable modal -->
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalDatiLabel">Quali dati personali raccogliamo ed
                                elaboriamo
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Chiudi"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fine Column -->

            <!-- Column -->
            <div class="col-10 col-lg-5 col-xl-4 p-md-3 border border-2 rounded border-primary" role="button"
                data-bs-toggle="modal" data-bs-target="#modalDurata">
                <!-- Content -->
                <div class="container d-flex align-items-center py-3 ">
                    <img class="p-2" alt=""
                        src="https://secureir.ebaystatic.com/pictures/aw/OCS_SelfService/Icon_ebay_UPN_DataRetentionDeletion_FullColor.svg"
                        style="float:left">
                    <h3 class="fs-5 mb-0 p-2">Durata della conservazione e cancellazione dei dati</h3>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modalDurata" tabindex="-1" aria-labelledby="modalDurataLabel"
                aria-hidden="true">
                <!-- Vertically centered scrollable modal -->
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalDurataLabel">Durata della conservazione e
                                cancellazione
                                dei dati</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Chiudi"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fine Column -->

            <!-- Column -->
            <div class="col-10 col-lg-5 col-xl-4 p-md-3 border border-2 rounded border-secondary" role="button"
                data-bs-toggle="modal" data-bs-target="#modalTrattamento">
                <!-- Content -->
                <div class="container d-flex align-items-center py-3 ">
                    <img class="p-2" alt=""
                        src="https://secureir.ebaystatic.com/pictures/aw/OCS_SelfService/Icon_ebay_UPN_HowWeUse_FullColor.svg"
                        style="float:left">
                    <h3 class="fs-5 mb-0 p-2">Finalità e base giuridica del trattamento dei dati</h3>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modalTrattamento" tabindex="-1" aria-labelledby="modalTrattamentoLabel"
                aria-hidden="true">
                <!-- Vertically centered scrollable modal -->
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalTrattamentoLabel">Finalità e base giuridica del
                                trattamento dei dati</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Chiudi"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fine Column -->

            <!-- Column -->
            <div class="col-10 col-lg-5 col-xl-4 p-md-3 border border-2 rounded border-primary" role="button"
                data-bs-toggle="modal" data-bs-target="#modalProtezione">
                <!-- Content -->
                <div class="container d-flex align-items-center py-3 ">
                    <img class="p-2" alt=""
                        src="https://secureir.ebaystatic.com/pictures/aw/OCS_SelfService/Icon_ebay_UPN_QuestionsComplaints_FullColor.svg"
                        style="float:left">
                    <h3 class="fs-5 mb-0 p-2">Responsabile della protezione dei dati e referente</h3>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modalProtezione" tabindex="-1" aria-labelledby="modalProtezioneLabel"
                aria-hidden="true">
                <!-- Vertically centered scrollable modal -->
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalProtezioneLabel">Responsabile della protezione dei
                                dati e
                                referente</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Chiudi"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fine Column -->

            <!-- Column -->
            <div class="col-10 col-lg-5 col-xl-4 p-md-3 border border-2 rounded border-secondary" role="button"
                data-bs-toggle="modal" data-bs-target="#modalQualita">
                <!-- Content -->
                <div class="container d-flex align-items-center py-3 ">
                    <img class="p-2" alt=""
                        src="https://secureir.ebaystatic.com/pictures/aw/OCS_SelfService/Icon_eBay_UPN_Controller_FullColor_RGB.svg"
                        style="float:left">
                    <h3 class="fs-5 mb-0 p-2">Controllo Qualità</h3>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modalQualita" tabindex="-1" aria-labelledby="modalQualitaLabel"
                aria-hidden="true">
                <!-- Vertically centered scrollable modal -->
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalQualitaLabel">Controllo Qualità</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Chiudi"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fine Column -->

            <!-- Column -->
            <div class="col-10 col-lg-5 col-xl-4 p-md-3 border border-2 rounded border-primary" role="button"
                data-bs-toggle="modal" data-bs-target="#modalDiritti">
                <!-- Content -->
                <div class="container d-flex align-items-center py-3 ">
                    <img class="p-2" alt=""
                        src="https://secureir.ebaystatic.com/pictures/aw/OCS_SelfService/Icon_ebay_UPN_YourAccess_FullColor.svg"
                        style="float:left">
                    <h3 class="fs-5 mb-0 p-2">Diritti dell'interessato</h3>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modalDiritti" tabindex="-1" aria-labelledby="modalDirittiLabel"
                aria-hidden="true">
                <!-- Vertically centered scrollable modal -->
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalDirittiLabel">Diritti dell'interessato</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Chiudi"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fine Column -->

            <!-- Column -->
            <div class="col-10 col-lg-5 col-xl-4 p-md-3 border border-2 rounded border-secondary" role="button"
                data-bs-toggle="modal" data-bs-target="#modalTrasferimento">
                <!-- Content -->
                <div class="container d-flex align-items-center py-3 ">
                    <img class="p-2" alt=""
                        src="https://secureir.ebaystatic.com/pictures/aw/OCS_SelfService/Icon_eBay_UPN_InternationalDataTransfers_FullColor_RGB.svg"
                        style="float:left">
                    <h3 class="fs-5 mb-0 p-2">Trasferimenti internazionali di dati</h3>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modalTrasferimento" tabindex="-1" aria-labelledby="modalTrasferimentoLabel"
                aria-hidden="true">
                <!-- Vertically centered scrollable modal -->
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalTrasferimentoLabel">Trasferimenti internazionali di
                                dati
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Chiudi"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fine Column -->

        </div>
        <!-- Fine Row -->

    </main>
    <!-- Fine main -->

    <!-- Footer -->
    <footer th:insert="index.html :: footer"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</body>

</html>