<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Princesharing</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="../../resources/static/css/style.css" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  <link rel="apple-touch-icon" sizes="57x57" href="../static/assets/img/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../static/assets/img/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../static/assets/img/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../static/assets/img/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../static/assets/img/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../static/assets/img/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../static/assets/img/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../static/assets/img/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/img/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../static/assets/img/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../static/assets/img/favicon/android-icon-144x144.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../static/assets/img/favicon/android-icon-96x96.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../static/assets/img/favicon/android-icon-72x72.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../static/assets/img/favicon/android-icon-48x48.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../static/assets/img/favicon/android-icon-36x36.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../static/assets/img/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="../static/assets/img/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="../static/assets/img/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>

<body class="fw-bold bgblue">

    <main style="min-height: 100vh;
    display: flex;
    align-items: center;">
        <div class="container p-5 bg-light" style="border-radius: 15px;"> <!-- inizio container -->

            <div class="d-flex align-items-center justify-content-end">
                <!-- dati dell'utente corrente -->
                <div id="currentUser"></div> 
                <!-- form the reindirizza alla pagina di registrazione al logout -->
                <form action="" id="logoutBtn" method="get">
                    <!-- tasto per il logout -->
                    <input type="submit" class="btn btn-danger btn-out" value="Logout"> 
                </form>
            </div>

            <h3 class="my-5 mt-md-0 mb-md-5"><a href="#"><i id="twitterLogo" class="bi bi-twitter me-4"></i></a>Benvenuto su Twitter</h1>

            <!-- form per i tweet -->
            <form action="" id="tweetForm" method="get">
                <div class="row align-items-center">
                    <label for="tweet" class="form-label mb-0" style="color: #657786;">Scrivi il tuo tweet (max. 50 caratteri)</label>
                    <!-- colonna responsive 1 -->
                    <div class="col-lg-10 col-md-9 col-sm-12 d-flex align-items-center">
                        <textarea class="form-control" id="tweet" maxlength="50"></textarea>
                        <!-- label per visualizzare errori riferiti al tweet -->
                        <label id="tweetCheck" for="tweet" class="form-label" style="color: #657786;"></label> 
                    </div>
                    <!-- colonna responsive 2 -->
                    <div class="col-lg-2 col-md-3 col-sm-12 d-flex justify-content-end justify-content-md-center mt-3 mt-md-0">
                        <input type="submit" class="btn btn-pri" value="Invia Tweet">
                    </div>
                </div> 
                <!-- sezione che visualizza il tweet precedentemente inviato -->
                <p id="prevTweet" class="rounded my-3 text-break"></p>
            </form> <!-- fine form -->

            <!-- mappa Leaflet -->
            <div id="map"></div> 
            
        </div> <!-- fine container -->
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="../static/assets/js/twit.js"></script>
</body>

</html>