body{
    background:#F0FCF7!important;
}

/* ----------------------------- SECTION BANNER ----------------------------- */

#banner{
    height: 100vh !important;
    width: auto !important;
}

.swiper {
    width: 95%;
    height: 30%;
    @include media-breakpoint-up(md){
        width: 60%;
    }
  }


.swiper-button-next, .swiper-button-prev{
   color: #1FAB89 !important;
}
/* ------------------------------- END BANNER ------------------------------- */
.mainTitle {
    font-size: 2.5rem;
    font-weight: 400;

    @include media-breakpoint-up(lg) { 
        font-size: 2.5rem;
        font-weight: 600;
   }
    color: #F0FCF7;
}

a.nav-link{
    color: $secondary;
}

.active{
    color: #F0FCF7!important;
}

.leaflet-control-zoom-out, .leaflet-control-zoom-in{
    background-color: #1da1f2 !important;
    border-radius: 22px !important;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar{
    border: 1px solid transparent !important;
}
