body{
    background:#F0FCF7!important;
}

.swiper {
    width: 60%;
    height: auto;
}

.mainTitle {
    font-size: 2.5rem;
    font-weight: 500;

    color: #F0FCF7;
}

a.nav-link{
    color: $secondary;
}

.active{
    color: #F0FCF7!important;
}

.leaflet-control-zoom-out, .leaflet-control-zoom-in{
    background-color: #1da1f2 !important;
    border-radius: 22px !important;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar{
    border: 1px solid transparent !important;
}
