.swiper {
    width: 60%;
    height: auto;
  }

.mainTitle {
    font-size: 2rem;

    @include media-breakpoint-up(lg) { 
     font-size: 8rem;
     font-weight: 900;
    }
}
.leaflet-control-zoom-out, .leaflet-control-zoom-in{
    background-color: #1da1f2 !important;
    border-radius: 22px !important;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar{
    border: 1px solid transparent !important;
}