body {
    background: #F0FCF7 !important;
    font-family: $font-family-sans-serif;
    font-weight: 500;
}

header{
    background-image: linear-gradient(to left bottom, #26a96c, #009391, #0077a5, #005799, #4a326f) !important;
}

header a:hover{
        color: #F0FCF7!important;
}

footer a:hover{
    color:$secondary !important;
}

/* -------------------------------------------------------------------------- */
/*                                     HERO                                    */
/* -------------------------------------------------------------------------- */

#hero {
    position: relative;

    height: calc(100vh - 99px);
    width: auto !important;

    background: url('../assets/img/hero-bg-final.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .overlay {
        position: absolute;
        width: 100%;
        height: calc(100vh - 99px);
        top: 0;
        left: 0;

        background: #1FAB89;
        opacity: 0.25;
    }

    .cta {
        width: 100%;
        height: calc(100vh - 99px);
    }
}

/* -------------------------------- END HERO -------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   BANNER                                   */
/* -------------------------------------------------------------------------- */

.swiper {
    width: 100%;
    height: auto;
}


.swiper-button-next,
.swiper-button-prev {

    color: #1FAB89 !important;
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
}

/* ------------------------------- END BANNER ------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                 CALENDARIO                                 */
/* -------------------------------------------------------------------------- */

.dataPicker {
    padding-top: .5rem;
    max-width: 66%;
}

.table-calendario {
    border: 1px solid rgba(0, 0, 0, 0.312);
    border-radius: 10px;
    padding: 1rem;
    background-color: hsl(160, 60%, 98%);
}

.sectionTitle-calendario {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 0 1rem;

    padding-bottom: 2rem;

    @include media-breakpoint-up(md) {
        font-size: 3rem;
    }
}

/* ----------------------------- FINE CALENDARIO ---------------------------- */

/* -------------------------------------------------------------------------- */
/*                                  TITOLO, NAVBAR e NAV-LINK                 */
/* -------------------------------------------------------------------------- */
.mainTitle {
    font-size: 2rem;
    font-weight: 400;

    @include media-breakpoint-up(md) {
        font-size: 2.5rem;
        font-weight: 500;
    }

    color: #F0FCF7;
}

a.nav-link {
    color: $secondary;
}

.active {
    color: #F0FCF7 !important;
}

/* -------------------------------------------------------------------------- */
/*                                 FINE NAVBAR                                */
/* -------------------------------------------------------------------------- */

.leaflet-control-zoom-out,
.leaflet-control-zoom-in {
    background-color: #1da1f2 !important;
    border-radius: 22px !important;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border: 1px solid transparent !important;
}

/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
.description-footer {
    color: $secondary;
}

/* -------------------------------------------------------------------------- */
/*                                 FINE FOOTER                                */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                PAGINA LOGIN                                */
/* -------------------------------------------------------------------------- */
.loginTitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: $primary;

    @include media-breakpoint-up(sm) {
        font-size: 2.5rem;
        font-weight: 600;
    }
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background-image: linear-gradient(to right top, #26a96c, #009391, #0077a5, #005799, #4a326f);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 768px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

/* -------------------------------------------------------------------------- */
/*                                 FINE LOGIN                                 */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                             PANNELLO DI LAVORO                             */
/* -------------------------------------------------------------------------- */

.workbench {
    text-align: center;
    margin-top: 6%;

    p {
        font-size: 1.8rem;
        font-weight: 600 !important;
        color: $secondary;
    }
}

/* -------------------------------------------------------------------------- */
/*                             INSERIMENTO VEICOLO                            */
/* -------------------------------------------------------------------------- */

.title-formAdd{
    font-size: 2rem;
    font-weight: 800;
    color: $primary;
    text-align: center;
}

#mioForm{
    color: $secondary;
    font-weight: 700;
    border: 1px solid $secondary;
    padding: 1.2rem;
    border-radius: 10px;
    background:$primary;

   @include media-breakpoint-up(md){
    max-width: 40%;
    margin: 0 auto;
}
}
/* -------------------------------------------------------------------------- */
/*                                 VEICOLI AMM                                */
/* -------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------- */
/*                           PAGINA VEICOLO SINGOLO                           */
/* -------------------------------------------------------------------------- */
#map{
    height: 6rem;
    width: 12rem;
}

<<<<<<< Updated upstream
/* -------------------------------------------------------------------------- */
/*                                  ABOUT US                                  */
/* -------------------------------------------------------------------------- */

.nomeTeam{
    color: $pink;
}
.titleTeam{
    color: $pink;
=======


/* -------------------------------------------------------------------------- */
/*                                  HELP PAGE                                 */
/* -------------------------------------------------------------------------- */
.section{
    padding: 2rem 0;

    font-weight: 600;

    h2{
        color: $secondary;
    }
>>>>>>> Stashed changes
}