body{
    background:#F0FCF7!important;
    font-family: $font-family-sans-serif;
}

/* -------------------------------------------------------------------------- */
/*                                     HERO                                    */
/* -------------------------------------------------------------------------- */

#hero{
    position: relative;

    height: calc(100vh - 99px);
    width: auto !important;

    background: url('../assets/img/hero-bg-final.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .overlay{
        position: absolute;
        width: 100%;
        height: calc(100vh - 99px);
        top: 0;
        left: 0;

        background:#1FAB89;
        opacity: 0.25;
    }

    .cta{
        width: 100%;
        height:calc(100vh - 99px);
    }
}

/* -------------------------------- END HERO -------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   BANNER                                   */
/* -------------------------------------------------------------------------- */

.swiper {
    width: 100%;
    height: auto;
}


.swiper-button-next, .swiper-button-prev{
    
    color: #1FAB89 !important;
}

.card-body{
    text-align: center;
}

.card-title{
    font-size: 1.5rem !important;
    font-weight: 600 !important;
}
/* ------------------------------- END BANNER ------------------------------- */

.dataPicker{
    padding-top: .5rem;
    max-width: 66%;
}

.table-calendario{
    border: 1px solid rgba(0, 0, 0, 0.312);
    border-radius: 10px;
    padding: 1rem;
}
.sectionTitle-calendario{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 0 1rem;

    padding-bottom: 2rem;

    @include media-breakpoint-up(md){
        font-size: 3rem;
    }
}



/* -------------------------------------------------------------------------- */
/*                                  TITOLO, NAVBAR e NAV-LINK                 */
/* -------------------------------------------------------------------------- */
.mainTitle {
    font-size: 2rem;
    font-weight: 400;

    @include media-breakpoint-up(md) { 
        font-size: 2.5rem;
        font-weight: 500;
   }
    color: #F0FCF7;
}

a.nav-link{
    color: $secondary;
}

.active{
    color: #F0FCF7!important;
}
/* -------------------------------------------------------------------------- */
/*                                 FINE NAVBAR                                */
/* -------------------------------------------------------------------------- */

.leaflet-control-zoom-out, .leaflet-control-zoom-in{
    background-color: #1da1f2 !important;
    border-radius: 22px !important;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar{
    border: 1px solid transparent !important;
} 

/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
.description-footer{
    color: $secondary;
}
/* -------------------------------------------------------------------------- */
/*                                 FINE FOOTER                                */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                PAGINA LOGIN                                */
/* -------------------------------------------------------------------------- */
.loginTitle{
    font-size: 1.5rem;
    font-weight: 500;
    color: $pink;

    @include media-breakpoint-up(sm) { 
        font-size: 2.5rem;
        font-weight: 600;
   }
}
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
    /* -------------------------------------------------------------------------- */
    /*                                 FINE LOGIN                                 */
    /* -------------------------------------------------------------------------- */

    /* -------------------------------------------------------------------------- */
    /*                             PANNELLO DI LAVORO                             */
    /* -------------------------------------------------------------------------- */