body {
    background: #F0FCF7 !important;
    font-family: $font-family-sans-serif;
    font-weight: 500;
}

header{
    background-image: linear-gradient(to left bottom, #26a96c, #009391, #0077a5, #005799, #4a326f) !important;
}

footer{
    background: rgb(255, 255, 255);
}

header a:hover{
    color:darken($secondary, 10%) !important;
}

footer a:hover{
    color:$secondary !important;
}

input{
    caret-color: #47A15B;
}
pre{
    background:#1a1a1a;
}

/* -------------------------------------------------------------------------- */
/*                                     HERO                                    */
/* -------------------------------------------------------------------------- */


#hero {
    position: relative;

    height: calc(100vh - 99px);
    width: auto !important;

    background: url('../assets/img/hero-bg-final.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .overlay {
        position: absolute;
        width: 100%;
        height: calc(100vh - 99px);
        top: 0;
        left: 0;

        background: #1FAB89;
        opacity: 0.25;
    }

    .cta {
        width: 100%;
        height: calc(100vh - 99px);
    }
}

/* -------------------------------- END HERO -------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   BANNER                                   */
/* -------------------------------------------------------------------------- */

.swiper {
    width: 100%;
    height: auto;
    padding-bottom: 4rem !important;
}


.swipper-wrapper{
    position: relative;
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
}

.img-fx{
    overflow: hidden;
}




.swiper .card,.swiper .card .btn, .swiper .card .card-body,.swiper .card img{
    transition: all .2s;
}

.swiper .card:hover{
    // background: linear-gradient(to left top, #26a96c, #009391, #0077a5, #005799, #4a326f);
    
    box-shadow: 1px 16px 13px -10px rgba(140,140,140,0.57);
    -webkit-box-shadow: 1px 16px 13px -10px rgba(140,140,140,0.57);
    -moz-box-shadow: 1px 16px 13px -10px rgba(140,140,140,0.57);

    img{
        transform: scale(1.1);
    }

    // .card-body{
    //     color: #f0f0f0;
    // }
    // .btn{
    //     background: white;
    // }
}

/* ------------------------------- END BANNER ------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                 CALENDARIO                                 */
/* -------------------------------------------------------------------------- */

.dataPicker {
    padding-top: .5rem;
    max-width: 66%;
}

.table-calendario {
    border: 1px solid rgba(0, 0, 0, 0.312);
    border-radius: 10px;
    padding: 1rem;
    background-color: hsl(160, 60%, 98%);
}

.sectionTitle-calendario {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 0 1rem;

    padding-bottom: 2rem;

    @include media-breakpoint-up(md) {
        font-size: 3rem;
    }
}

@media (min-width: 576px) {
    .tr-veicoli {
        height: 380px;
    }
    
}

@media (min-width: 768px) {
    .tr-veicoli {
        height: 320px;
    }
}

/* ----------------------------- FINE CALENDARIO ---------------------------- */

/* -------------------------------------------------------------------------- */
/*                                  TITOLO, NAVBAR e NAV-LINK                 */
/* -------------------------------------------------------------------------- */
.mainTitle {
    font-size: 2rem;
    font-weight: 400;

    @include media-breakpoint-up(md) {
        font-size: 2.5rem;
        font-weight: 500;
    }

    color: #F0FCF7;
}


a.nav-link {
    font-weight: 600!important;
    color: #f7fdfb;
}

a.nav-link.active{
    font-weight: 700 !important;
    color:darken($secondary, 10%) !important;
}

header .btn-secondary:hover{
    color: white !important;
}


/* -------------------------------------------------------------------------- */
/*                                 FINE NAVBAR                                */
/* -------------------------------------------------------------------------- */

.leaflet-control-zoom-out,
.leaflet-control-zoom-in {
    background-color: #1da1f2 !important;
    border-radius: 22px !important;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border: 1px solid transparent !important;
}

/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
.description-footer {
    color: $secondary;
}

/* -------------------------------------------------------------------------- */
/*                                 FINE FOOTER                                */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                PAGINA LOGIN                                */
/* -------------------------------------------------------------------------- */
.loginTitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: $primary;

    @include media-breakpoint-up(sm) {
        font-size: 2.5rem;
        font-weight: 600;
    }
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background-image: linear-gradient(to right top, #26a96c, #009391, #0077a5, #005799, #4a326f);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 768px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

/* -------------------------------------------------------------------------- */
/*                                 FINE LOGIN                                 */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                             PANNELLO DI LAVORO                             */
/* -------------------------------------------------------------------------- */

.workbench {
    text-align: center;
    margin-top: 6%;

    p {
        font-size: 1.8rem;
        font-weight: 600 !important;
        color: $secondary;
    }
}

/* -------------------------------------------------------------------------- */
/*                             INSERIMENTO VEICOLO                            */
/* -------------------------------------------------------------------------- */

.title-formAdd{
    font-size: 2rem;
    font-weight: 800;
    color: $primary;
    text-align: center;
}

#mioForm{
    color:$primary;
    font-weight: 700;
    border: 1px solid transparent;
    padding: 1.2rem;
    border-radius: 10px;
    background:rgb(248, 248, 248);

   @include media-breakpoint-up(md){
    max-width: 40%;
    margin: 0 auto;
}
}
/* -------------------------------------------------------------------------- */
/*                                 VEICOLI AMM                                */
/* -------------------------------------------------------------------------- */

.table-veicoliAmm{
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #F0FCF7;
}

/* -------------------------------------------------------------------------- */
/*                           PAGINA VEICOLO SINGOLO                           */
/* -------------------------------------------------------------------------- */
#map{
    height: 6rem;
    width: 12rem;
}

/* -------------------------------------------------------------------------- */
/*                                  ABOUT US                                  */
/* -------------------------------------------------------------------------- */

.nomeTeam{
    color: $pink;
}
.titleTeam{
    color: $pink;
}

/* -------------------------------------------------------------------------- */
/*                                  HELP PAGE                                 */
/* -------------------------------------------------------------------------- */
.section{
    padding: 2rem 0;

    font-weight: 600;

    h2{
        color: $secondary;
    }
    border-bottom: 2px solid rgba(2, 64, 0, 0.522);
}
.section:last-child{
    border: none;
}


/* -------------------------------------------------------------------------- */
/*                                     API                                    */
/* -------------------------------------------------------------------------- */



.endpoint-section{
    margin-top:1.5rem;

    .wrapper-output{
        width: auto;
        max-height: 18rem;
        overflow-y: scroll;
    }
    
    .url-example{
        margin-left: 1rem;
        padding:0.2rem 0.4rem;
        border-radius: 4px;
        border: 1px solid transparent;
    }
}

.endpoint-section:nth-of-type(even){
    margin-top: 3rem;
    margin-bottom: 3rem;
}


/* -------------------------------------------------------------------------- */
/*                                 PAGE ERROR                                 */
/* -------------------------------------------------------------------------- */
.page-error{
    height: 100vh!important;
    width: auto;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
}