/* -------------------------------------------------------------------------- */
/*                                 VEICOLI AMM                                */
/* -------------------------------------------------------------------------- */

.table-veicoliAmm{
    border: 1px solid transparent;
    border-radius: 12px;
    background-color: white;
}

.text-truncate{
    max-width: 130px;
}