/* -------------------------------------------------------------------------- */
/*                                 VEICOLI AMM                                */
/* -------------------------------------------------------------------------- */

.table-veicoliAmm{
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #F0FCF7;
}

.text-truncate{
    max-width: 130px;
}