/* -------------------------------------------------------------------------- */
/*                                  HELP PAGE                                 */
/* -------------------------------------------------------------------------- */
.section{
    padding: 2rem 0;

    font-weight: 600;

    h2{
        color: $secondary;
    }
    border-bottom: 2px solid rgba(2, 64, 0, 0.522);
}
.section:last-child{
    border: none;
}
