body {
    background: #F0FCF7 !important;
    font-family: $font-family-sans-serif;
    font-weight: 500;
}

header{
    background-image: linear-gradient(to left bottom, #26a96c, #009391, #0077a5, #005799, #4a326f) !important;
}

footer{
    background: rgb(255, 255, 255);
}

header a:hover{
    color:darken($secondary, 10%) !important;
}

footer a:hover{
    color:$secondary !important;
}

input{
    caret-color: #47A15B;
}
pre{
    background:#1a1a1a;
}

/* -------------------------------------------------------------------------- */
/*                                     HERO                                    */
/* -------------------------------------------------------------------------- */


#hero {
    position: relative;

    height: calc(100vh - 99px);
    width: auto !important;

    background: url('../assets/img/hero-bg-final.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .overlay {
        position: absolute;
        width: 100%;
        height: calc(100vh - 99px);
        top: 0;
        left: 0;

        background: #1FAB89;
        opacity: 0.25;
    }

    .cta {
        width: 100%;
        height: calc(100vh - 99px);
    }
}

/* -------------------------------- END HERO -------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   BANNER                                   */
/* -------------------------------------------------------------------------- */

.swiper {
    width: 100%;
    height: auto;
    padding-bottom: 4rem !important;
}
.swiper-button-next,
.swiper-button-prev {

    color: #1FAB89 !important;
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
}

.img-fx{
    overflow: hidden;
}

.swiper .card{
    max-height: 20rem !important;
    img{
        max-height: 8rem;
    }
}


.swiper .card,.swiper .card .btn, .swiper .card .card-body,.swiper .card img{
    transition: all .2s;
}

.swiper .card:hover{
    // background: linear-gradient(to left top, #26a96c, #009391, #0077a5, #005799, #4a326f);
    
    box-shadow: 1px 16px 13px -10px rgba(140,140,140,0.57);
    -webkit-box-shadow: 1px 16px 13px -10px rgba(140,140,140,0.57);
    -moz-box-shadow: 1px 16px 13px -10px rgba(140,140,140,0.57);

    img{
        transform: scale(1.1);
    }

    // .card-body{
    //     color: #f0f0f0;
    // }
    // .btn{
    //     background: white;
    // }
}

/* ------------------------------- END BANNER ------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                 CALENDARIO                                 */
/* -------------------------------------------------------------------------- */

.dataPicker {
    padding-top: .5rem;
    max-width: 66%;
}

.table-calendario {
    border-radius: 10px;
    background-color: $calendario-bg;
}

.sectionTitle-calendario {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 0 1rem;

    padding-bottom: 2rem;

    @include media-breakpoint-up(md) {
        font-size: 3rem;
    }
}

.tr-fixed {
    @include media-breakpoint-up(sm) {
        height: 25rem;
    }
}

.div-overflow {
    @include media-breakpoint-up(sm) {
        overflow: auto;
        height: 10rem;
    }
    ul li {
        margin: .5rem 0;
    }
}

#veicoliNoleggiati {
    tr:last-child {
        border-bottom: 1px solid $calendario-bg;
    }
}

#tabellaDisponibili, #tabellaNoleggiati {
    thead {
        h3 {
            font-weight: 700;
        }
    }
}

@media (min-width: 576px) {
    #tabellaDisponibili {
        thead {
            th {
                border-right: 1px solid #dee2e6;
            }
        }
    }
    #veicoliDisponibili {
        td {
            border-right: 1px solid #dee2e6;
        }
    }
    #veicoliDisponibili, #veicoliNoleggiati {
        tr:last-child {
            border-bottom: 1px solid $calendario-bg;
        }
    }  
}



/* ----------------------------- FINE CALENDARIO ---------------------------- */

/* -------------------------------------------------------------------------- */
/*                                  TITOLO, NAVBAR e NAV-LINK                 */
/* -------------------------------------------------------------------------- */
.mainTitle {
    font-size: 2rem;
    font-weight: 400;

    @include media-breakpoint-up(md) {
        font-size: 2.5rem;
        font-weight: 500;
    }

    color: #F0FCF7;
}


a.nav-link {
    font-weight: 600!important;
    color: #f7fdfb;
}

a.nav-link.active{
    font-weight: 700 !important;
    color:darken($secondary, 10%) !important;
}

header .btn-secondary:hover{
    color: white !important;
}


/* -------------------------------------------------------------------------- */
/*                                 FINE NAVBAR                                */
/* -------------------------------------------------------------------------- */

.leaflet-control-zoom-out,
.leaflet-control-zoom-in {
    background-color: #1da1f2 !important;
    border-radius: 22px !important;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border: 1px solid transparent !important;
}

/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
.description-footer {
    color: $secondary;
}

.bgFooter{
    padding-top: .5rem;
    padding-bottom: 3rem;
    @include media-breakpoint-up(md){
        padding-bottom: 1rem;
    }
    background-color: $footer;
    a:hover{
       color: lighten($secondary,30%) !important;
    }
}

/* -------------------------------------------------------------------------- */
/*                                 FINE FOOTER                                */
/* -------------------------------------------------------------------------- */