/* -------------------------------------------------------------------------- */
/*                             INSERIMENTO VEICOLO                            */
/* -------------------------------------------------------------------------- */

.title-formAdd{
    font-size: 2rem;
    font-weight: 800;
    color: white;
    text-align: center;
    border-radius: 8px;
}

#mioForm{
    color:$primary;
    font-weight: 700;
    border: 1px solid transparent;
    padding: 1.2rem;
    border-radius: 8px;
    background:white !important;

//    @include media-breakpoint-up(md){
//     max-width: 40%;
//     margin: 0 auto;
// }
}