/* -------------------------------------------------------------------------- */
/*                                PAGINA LOGIN                                */
/* -------------------------------------------------------------------------- */

.loginTitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: $primary;

    @include media-breakpoint-up(sm) {
        font-size: 2.5rem;
        font-weight: 600;
    }
}

.gradient-btn {
    background-image: linear-gradient(to right top, #26a96c, #009391, #0077a5, #005799, #4a326f);
}

.gradient-custom-2 {
    background-image: linear-gradient(to right top, #26a96c, #009391, #0077a5, #005799, #4a326f);

    border-top-right-radius: 0rem;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
    border-top-left-radius: 0rem;

    @include media-breakpoint-up(lg) {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
        border-bottom-left-radius: 0rem;
        border-top-left-radius: 0rem;
    }
}

.gradient-form {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* -------------------------------------------------------------------------- */
/*                                 FINE LOGIN                                 */
/* -------------------------------------------------------------------------- */