/* -------------------------------------------------------------------------- */
/*                                  NOVITA                                  */
/* -------------------------------------------------------------------------- */
/*.newsCards .card {
    max-height: 30rem !important;
    img{
        max-height: 15rem;
        // width: auto;
       
    }
}

 img{
        max-height: 12rem;
    }
    
    .container:nth-of-type(even) .newsImage {
    order: 1;
}

.container:nth-of-type(even) .newsText {
    text-align: right;
}
*/



